
body {
    font-family: Arial, sans-serif;
    background-color:  #a3cf2b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background-color:  #a3cf2b;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:  #a3cf2b;
}

a {
    color:  #a3cf2b;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
    transition: color 0.3s ease;
}

a:hover {
    color: #a3cf2b;
}

#yo {
    margin-top: 20px;
    font-size: 14px;
    color: red;
}
